<!DOCTYPE html>{% load staticfiles %}
<!--[if IE 9]><html class="lt-ie10" lang="ru" ng-app="grablab"> <![endif]-->
<html class="no-js" lang="{{ page_lang }}" app="grablab">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Парсинг сайтов | GrabLab.org</title>
  <meta name="description" content="написание парсеров на заказ">
  <meta name="keywords" content="веб-скрапинг, парсинг веб-сайтов">

  <link rel="stylesheet" href="{% static 'vendors/foundation/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/foundation/css/foundation.css' %}">

  <link rel="stylesheet" href="{% static 'css/grablab-theme.css' %}">
  <!--link rel="stylesheet" href="{% static 'css/animations.css' %}"-->

  <script src="{% static 'vendors/foundation/js/vendor/modernizr.js' %}"></script>
</head>

<body>

  <div class="website-content">
    {% block navigation %}{% endblock %}
    <main class="fadeZoom" autoscroll="true">
      {% block main %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}
  </div>

  {% include "_layouts/__features.html" %}
  {% include "_layouts/__counters.html" %}

</body>
</html>
